# langchain
# langchain-community
# langchain_groq
# chromadb
# streamlit
# pandas
# python-dotenv
# sentence-transformers
# langchain_huggingface

langchain==0.2.15
langchain-community==0.2.15
langchain_groq==0.1.5
langchain_huggingface==0.0.3

chromadb
streamlit
pandas
python-dotenv
sentence-transformers
